body{
text-align: center;
}
#Welcome
{
color:red;
background-color: aqua;
font-size: 50px;
}
#Bio{
color:black;
background-color:bisque;
font-size: 20px;
}
#pic{
width: 150px;
height: 250px;
border-radius: 50%;
}

.Menu{
position: absolute;
top: 10px;
right: 20px;
z-index: 10;
cursor: pointer;
list-style: none;
}
.links{
float:left;
color: crimson;
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
}
.links:hover{
background-color: blueviolet;
color: aliceblue;
}
